---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/styles.scss";
import experience from "../cv/experience.json";
---

<Layout>
  <Navbar />
  <div class="container">
    <header class="content-frame">
      <h1>¡Hola! Soy Santiago.</h1>
      <h4>
        Desarrollo experiencias como SSr Software Engineer en Mercado
        Libre.<br> Soy un entusiasta de la informática, la música, la fotografía y la preservación audiovisual.
      </h4>
    </header>

    <section>
      <h2>Experiencia profesional</h2>

      {
        experience.professional.map((job) => (
          <>
            <h3>{job.company}</h3>
            {job.positions.map((position) => (
              <>
                <h4 class="position-name">{position.name}</h4>
                <h5 class="position-interval">{position.timespan}</h5>
              </>
            ))}

            <div class="exp-description">
              {job.description.map((item) => (
                <>
                  <h4 class="">→ {item}</h4>
                </>
              ))}
            </div>
          </>
        ))
      }
    </section>

    <section>
      <h2>Educación</h2>
      {
        experience.academic.map((exp) => (
          <>
            <h3>{exp.institution}</h3>
            {exp.degrees.map((degree) => (
              <>
                <h4 class="position-name">{degree.name}</h4>
                <h5 class="position-interval">{degree.timespan}</h5>
              </>
            ))}

            <div class="exp-description">
              {exp.description.map((item) => (
                <>
                  <h4 class="">→ {item}</h4>
                </>
              ))}
            </div>
          </>
        ))
      }
    </section>
  </div>
</Layout>
